src/com/thetdgroup/tdg_schema_ref/lmf_rev16.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="urn:com:thetdgroup:schema:lmf:rev16" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="urn:com:thetdgroup:schema:lmf:rev16" elementFormDefault="qualified" attributeFormDefault="qualified">
	<xs:element name="LexicalResource">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" maxOccurs="unbounded" ref="feat" />
				<xs:element ref="GlobalInformation" />
				<xs:element minOccurs="1" maxOccurs="unbounded" ref="Lexicon" />
				<xs:element minOccurs="0" maxOccurs="unbounded" ref="SenseAxis" />
				<xs:element minOccurs="0" maxOccurs="unbounded" ref="TransferAxis" />
				<xs:element minOccurs="0" maxOccurs="unbounded" ref="ContextAxis" />
			</xs:sequence>
			<xs:attribute fixed="16" name="dtdVersion" type="xs:string" />
		</xs:complexType>
	</xs:element>
	<xs:element name="GlobalInformation">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" maxOccurs="unbounded" ref="feat" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Lexicon">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" maxOccurs="unbounded" ref="feat" />
				<xs:element minOccurs="1" maxOccurs="unbounded" ref="LexicalEntry" />
				<xs:element minOccurs="0" maxOccurs="unbounded" ref="SubcategorizationFrame" />
				<xs:element minOccurs="0" maxOccurs="unbounded" ref="SubcategorizationFrameSet" />
				<xs:element minOccurs="0" maxOccurs="unbounded" ref="SemanticPredicate" />
				<xs:element minOccurs="0" maxOccurs="unbounded" ref="Synset" />
				<xs:element minOccurs="0" maxOccurs="unbounded" ref="SynSemCorrespondence" />
				<xs:element minOccurs="0" maxOccurs="unbounded" ref="MorphologicalPattern" />
				<xs:element minOccurs="0" maxOccurs="unbounded" ref="MWEPattern" />
				<xs:element minOccurs="0" maxOccurs="unbounded" ref="ConstraintSet" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="LexicalEntry">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" maxOccurs="unbounded" ref="feat" />
				<xs:element ref="Lemma" />
				<xs:element minOccurs="0" maxOccurs="unbounded" ref="WordForm" />
				<xs:element minOccurs="0" maxOccurs="unbounded" ref="Stem" />
				<xs:element minOccurs="0" maxOccurs="1" ref="ListOfComponents" />
				<xs:element minOccurs="0" maxOccurs="unbounded" ref="RelatedForm" />
				<xs:element minOccurs="0" maxOccurs="unbounded" ref="TransformCategory" />
				<xs:element minOccurs="0" maxOccurs="unbounded" ref="Sense" />
				<xs:element minOccurs="0" maxOccurs="unbounded" ref="SyntacticBehaviour" />
			</xs:sequence>
			<xs:attribute name="id" type="xs:ID" />
			<xs:attribute name="morphologicalPatterns" type="xs:IDREFS" />
			<xs:attribute name="mwePattern" type="xs:IDREF" />
		</xs:complexType>
	</xs:element>
	<xs:element name="Sense">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" maxOccurs="unbounded" ref="feat" />
				<xs:element minOccurs="0" maxOccurs="unbounded" ref="Sense" />
				<xs:element minOccurs="0" maxOccurs="unbounded" ref="Equivalent" />
				<xs:element minOccurs="0" maxOccurs="unbounded" ref="Context" />
				<xs:element minOccurs="0" maxOccurs="unbounded" ref="SubjectField" />
				<xs:element minOccurs="0" maxOccurs="unbounded" ref="PredicativeRepresentation" />
				<xs:element minOccurs="0" maxOccurs="unbounded" ref="SenseExample" />
				<xs:element minOccurs="0" maxOccurs="unbounded" ref="Definition" />
				<xs:element minOccurs="0" maxOccurs="unbounded" ref="SenseRelation" />
				<xs:element minOccurs="0" maxOccurs="unbounded" ref="MonolingualExternalRef" />
			</xs:sequence>
			<xs:attribute name="id" type="xs:ID" />
			<xs:attribute name="synset" type="xs:IDREF" />
		</xs:complexType>
	</xs:element>
	<xs:element name="Definition">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" maxOccurs="unbounded" ref="feat" />
				<xs:element minOccurs="0" maxOccurs="unbounded" ref="Statement" />
				<xs:element minOccurs="0" maxOccurs="unbounded" ref="TextRepresentation" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Statement">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" maxOccurs="unbounded" ref="feat" />
				<xs:element minOccurs="0" maxOccurs="unbounded" ref="TextRepresentation" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="TextRepresentation">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" maxOccurs="unbounded" ref="feat" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Lemma">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" maxOccurs="unbounded" ref="feat" />
				<xs:element minOccurs="0" maxOccurs="unbounded" ref="FormRepresentation" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="WordForm">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" maxOccurs="unbounded" ref="feat" />
				<xs:element minOccurs="0" maxOccurs="unbounded" ref="FormRepresentation" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Stem">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" maxOccurs="unbounded" ref="feat" />
				<xs:element minOccurs="0" maxOccurs="unbounded" ref="FormRepresentation" />
				<xs:element minOccurs="0" maxOccurs="unbounded" ref="GrammaticalFeatures" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="FormRepresentation">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" maxOccurs="unbounded" ref="feat" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="RelatedForm">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" maxOccurs="unbounded" ref="feat" />
				<xs:element minOccurs="0" maxOccurs="unbounded" ref="FormRepresentation" />
			</xs:sequence>
			<xs:attribute name="targets" type="xs:IDREFS" />
		</xs:complexType>
	</xs:element>
	<xs:element name="ListOfComponents">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" maxOccurs="unbounded" ref="feat" />
				<xs:element minOccurs="1" maxOccurs="unbounded" ref="Component" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Component">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" maxOccurs="unbounded" ref="feat" />
			</xs:sequence>
			<xs:attribute name="entry" type="xs:IDREF" use="required" />
		</xs:complexType>
	</xs:element>
	<xs:element name="Equivalent">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" maxOccurs="unbounded" ref="feat" />
				<xs:element minOccurs="0" maxOccurs="unbounded" ref="TextRepresentation" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Context">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" maxOccurs="unbounded" ref="feat" />
				<xs:element minOccurs="0" maxOccurs="unbounded" ref="TextRepresentation" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="SubjectField">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" maxOccurs="unbounded" ref="feat" />
				<xs:element minOccurs="0" maxOccurs="unbounded" ref="SubjectField" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="SyntacticBehaviour">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" maxOccurs="unbounded" ref="feat" />
			</xs:sequence>
			<xs:attribute name="id" type="xs:ID" />
			<xs:attribute name="senses" type="xs:IDREFS" />
			<xs:attribute name="subcategorizationFrames" type="xs:IDREFS" />
			<xs:attribute name="subcategorizationFrameSets" type="xs:IDREFS" />
		</xs:complexType>
	</xs:element>
	<xs:element name="SubcategorizationFrame">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" maxOccurs="unbounded" ref="feat" />
				<xs:element minOccurs="0" maxOccurs="1" ref="LexemeProperty" />
				<xs:element minOccurs="0" maxOccurs="unbounded" ref="SyntacticArgument" />
			</xs:sequence>
			<xs:attribute name="id" type="xs:ID" />
			<xs:attribute name="inherit" type="xs:IDREFS" />
		</xs:complexType>
	</xs:element>
	<xs:element name="LexemeProperty">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" maxOccurs="unbounded" ref="feat" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="SyntacticArgument">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" maxOccurs="unbounded" ref="feat" />
			</xs:sequence>
			<xs:attribute name="id" type="xs:ID" />
			<xs:attribute name="target" type="xs:IDREF" />
		</xs:complexType>
	</xs:element>
	<xs:element name="SubcategorizationFrameSet">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" maxOccurs="unbounded" ref="feat" />
				<xs:element minOccurs="0" maxOccurs="unbounded" ref="SynArgMap" />
			</xs:sequence>
			<xs:attribute name="id" type="xs:ID" />
			<xs:attribute name="subcategorizationFrames" type="xs:IDREFS" />
			<xs:attribute name="inherit" type="xs:IDREFS" />
		</xs:complexType>
	</xs:element>
	<xs:element name="SynArgMap">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" maxOccurs="unbounded" ref="feat" />
			</xs:sequence>
			<xs:attribute name="arg1" type="xs:IDREF" use="required" />
			<xs:attribute name="arg2" type="xs:IDREF" use="required" />
		</xs:complexType>
	</xs:element>
	<xs:element name="PredicativeRepresentation">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" maxOccurs="unbounded" ref="feat" />
			</xs:sequence>
			<xs:attribute name="predicate" type="xs:IDREF" use="required" />
			<xs:attribute name="correspondences" type="xs:IDREFS" use="required" />
		</xs:complexType>
	</xs:element>
	<xs:element name="SemanticPredicate">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" maxOccurs="unbounded" ref="feat" />
				<xs:element minOccurs="0" maxOccurs="unbounded" ref="Definition" />
				<xs:element minOccurs="0" maxOccurs="unbounded" ref="SemanticArgument" />
				<xs:element minOccurs="0" maxOccurs="unbounded" ref="PredicateRelation" />
			</xs:sequence>
			<xs:attribute name="id" type="xs:ID" use="required" />
			<xs:attribute name="semanticTypes" type="xs:IDREFS" />
		</xs:complexType>
	</xs:element>
	<xs:element name="SemanticArgument">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" maxOccurs="unbounded" ref="feat" />
				<xs:element minOccurs="0" maxOccurs="unbounded" ref="ArgumentRelation" />
			</xs:sequence>
			<xs:attribute name="id" type="xs:ID" />
			<xs:attribute name="semanticTypes" type="xs:IDREFS" />
		</xs:complexType>
	</xs:element>
	<xs:element name="ArgumentRelation">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" maxOccurs="unbounded" ref="feat" />
			</xs:sequence>
			<xs:attribute name="targets" type="xs:IDREFS" />
		</xs:complexType>
	</xs:element>
	<xs:element name="SynSemCorrespondence">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" maxOccurs="unbounded" ref="feat" />
				<xs:element minOccurs="0" maxOccurs="unbounded" ref="SynSemArgMap" />
			</xs:sequence>
			<xs:attribute name="id" type="xs:ID" use="required" />
		</xs:complexType>
	</xs:element>
	<xs:element name="SynSemArgMap">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" maxOccurs="unbounded" ref="feat" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="PredicateRelation">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" maxOccurs="unbounded" ref="feat" />
			</xs:sequence>
			<xs:attribute name="targets" type="xs:IDREFS" />
		</xs:complexType>
	</xs:element>
	<xs:element name="SenseExample">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" maxOccurs="unbounded" ref="feat" />
			</xs:sequence>
			<xs:attribute name="id" type="xs:ID" />
		</xs:complexType>
	</xs:element>
	<xs:element name="Synset">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" maxOccurs="unbounded" ref="feat" />
				<xs:element minOccurs="0" maxOccurs="unbounded" ref="Definition" />
				<xs:element minOccurs="0" maxOccurs="unbounded" ref="SynsetRelation" />
				<xs:element minOccurs="0" maxOccurs="unbounded" ref="MonolingualExternalRef" />
			</xs:sequence>
			<xs:attribute name="id" type="xs:ID" />
		</xs:complexType>
	</xs:element>
	<xs:element name="SynsetRelation">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" maxOccurs="unbounded" ref="feat" />
			</xs:sequence>
			<xs:attribute name="targets" type="xs:IDREFS" />
		</xs:complexType>
	</xs:element>
	<xs:element name="MonolingualExternalRef">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" maxOccurs="unbounded" ref="feat" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="SenseRelation">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" maxOccurs="unbounded" ref="feat" />
			</xs:sequence>
			<xs:attribute name="targets" type="xs:IDREFS" use="required" />
		</xs:complexType>
	</xs:element>
	<xs:element name="SenseAxis">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" maxOccurs="unbounded" ref="feat" />
				<xs:element minOccurs="0" maxOccurs="unbounded" ref="SenseAxisRelation" />
				<xs:element minOccurs="0" maxOccurs="unbounded" ref="InterlingualExternalRef" />
			</xs:sequence>
			<xs:attribute name="id" type="xs:ID" />
			<xs:attribute name="senses" type="xs:IDREFS" />
			<xs:attribute name="synsets" type="xs:IDREFS" />
		</xs:complexType>
	</xs:element>
	<xs:element name="InterlingualExternalRef">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" maxOccurs="unbounded" ref="feat" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="SenseAxisRelation">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" maxOccurs="unbounded" ref="feat" />
			</xs:sequence>
			<xs:attribute name="targets" type="xs:IDREFS" use="required" />
		</xs:complexType>
	</xs:element>
	<xs:element name="TransferAxis">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" maxOccurs="unbounded" ref="feat" />
				<xs:element minOccurs="0" maxOccurs="unbounded" ref="TransferAxisRelation" />
				<xs:element minOccurs="0" maxOccurs="unbounded" ref="SourceTest" />
				<xs:element minOccurs="0" maxOccurs="unbounded" ref="TargetTest" />
			</xs:sequence>
			<xs:attribute name="id" type="xs:ID" />
			<xs:attribute name="syntacticBehaviours" type="xs:IDREFS" />
		</xs:complexType>
	</xs:element>
	<xs:element name="TransferAxisRelation">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" maxOccurs="unbounded" ref="feat" />
			</xs:sequence>
			<xs:attribute name="targets" type="xs:IDREFS" use="required" />
		</xs:complexType>
	</xs:element>
	<xs:element name="SourceTest">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" maxOccurs="unbounded" ref="feat" />
			</xs:sequence>
			<xs:attribute name="syntacticBehaviours" type="xs:IDREFS" use="required" />
		</xs:complexType>
	</xs:element>
	<xs:element name="TargetTest">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" maxOccurs="unbounded" ref="feat" />
			</xs:sequence>
			<xs:attribute name="syntacticBehaviours" type="xs:IDREFS" use="required" />
		</xs:complexType>
	</xs:element>
	<xs:element name="ContextAxis">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" maxOccurs="unbounded" ref="feat" />
				<xs:element minOccurs="0" maxOccurs="unbounded" ref="ContextAxisRelation" />
			</xs:sequence>
			<xs:attribute name="id" type="xs:ID" />
			<xs:attribute name="examples" type="xs:IDREFS" />
		</xs:complexType>
	</xs:element>
	<xs:element name="ContextAxisRelation">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" maxOccurs="unbounded" ref="feat" />
			</xs:sequence>
			<xs:attribute name="targets" type="xs:IDREFS" use="required" />
		</xs:complexType>
	</xs:element>
	<xs:element name="MorphologicalPattern">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" maxOccurs="unbounded" ref="feat" />
				<xs:element minOccurs="0" maxOccurs="unbounded" ref="TransformSet" />
				<xs:element minOccurs="0" maxOccurs="unbounded" ref="TransformCategory" />
				<xs:element minOccurs="0" maxOccurs="unbounded" ref="Affix" />
				<xs:element minOccurs="0" maxOccurs="unbounded" ref="AffixSlot" />
				<xs:element minOccurs="0" maxOccurs="unbounded" ref="AffixTemplate" />
			</xs:sequence>
			<xs:attribute name="id" type="xs:ID" />
		</xs:complexType>
	</xs:element>
	<xs:element name="TransformSet">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" maxOccurs="unbounded" ref="feat" />
				<xs:element minOccurs="0" maxOccurs="unbounded" ref="Process" />
				<xs:element minOccurs="0" maxOccurs="unbounded" ref="GrammaticalFeatures" />
				<xs:element minOccurs="0" maxOccurs="unbounded" ref="TransformCategory" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="GrammaticalFeatures">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" maxOccurs="unbounded" ref="feat" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Process">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" maxOccurs="unbounded" ref="feat" />
				<xs:element minOccurs="0" maxOccurs="unbounded" ref="Condition" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Condition">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" maxOccurs="unbounded" ref="feat" />
				<xs:element minOccurs="0" maxOccurs="unbounded" ref="GrammaticalFeatures" />
				<xs:element minOccurs="0" maxOccurs="unbounded" ref="TransformCategory" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Affix">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" maxOccurs="unbounded" ref="feat" />
				<xs:element minOccurs="0" maxOccurs="unbounded" ref="AffixAllomorph" />
				<xs:element minOccurs="0" maxOccurs="unbounded" ref="GrammaticalFeatures" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="AffixAllomorph">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" maxOccurs="unbounded" ref="feat" />
				<xs:element minOccurs="0" maxOccurs="unbounded" ref="FormRepresentation" />
				<xs:element minOccurs="0" maxOccurs="unbounded" ref="Condition" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="AffixTemplate">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" maxOccurs="unbounded" ref="feat" />
				<xs:element minOccurs="0" maxOccurs="unbounded" ref="TemplateSlot" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="TemplateSlot">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" maxOccurs="unbounded" ref="feat" />
				<xs:element minOccurs="0" maxOccurs="unbounded" ref="Affix" />
			</xs:sequence>
			<xs:attribute name="affixslots" type="xs:IDREFS" />
		</xs:complexType>
	</xs:element>
	<xs:element name="AffixSlot">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" maxOccurs="unbounded" ref="feat" />
			</xs:sequence>
			<xs:attribute name="affixs" type="xs:IDREFS" />
		</xs:complexType>
	</xs:element>
	<xs:element name="TransformCategory">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" maxOccurs="unbounded" ref="feat" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="MWEPattern">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" maxOccurs="unbounded" ref="feat" />
				<xs:element minOccurs="0" maxOccurs="unbounded" ref="MWENode" />
			</xs:sequence>
			<xs:attribute name="id" type="xs:ID" use="required" />
		</xs:complexType>
	</xs:element>
	<xs:element name="MWENode">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" maxOccurs="unbounded" ref="feat" />
				<xs:element minOccurs="0" maxOccurs="unbounded" ref="MWEEdge" />
				<xs:element ref="MWELex" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="MWEEdge">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" maxOccurs="unbounded" ref="feat" />
				<xs:element minOccurs="0" maxOccurs="unbounded" ref="MWENode" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="MWELex">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" maxOccurs="unbounded" ref="feat" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ConstraintSet">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" maxOccurs="unbounded" ref="feat" />
				<xs:element minOccurs="0" maxOccurs="unbounded" ref="Constraint" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Constraint">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" maxOccurs="unbounded" ref="feat" />
				<xs:element minOccurs="0" maxOccurs="unbounded" ref="LogicalOperation" />
			</xs:sequence>
			<xs:attribute name="id" type="xs:ID" />
		</xs:complexType>
	</xs:element>
	<xs:element name="LogicalOperation">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" maxOccurs="unbounded" ref="feat" />
				<xs:element minOccurs="0" maxOccurs="unbounded" ref="AttributeValuation" />
				<xs:element minOccurs="0" maxOccurs="unbounded" ref="Constraint" />
			</xs:sequence>
			<xs:attribute name="constraints" type="xs:IDREFS" />
		</xs:complexType>
	</xs:element>
	<xs:element name="AttributeValuation">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" maxOccurs="unbounded" ref="feat" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="feat">
		<xs:complexType>
			<xs:attribute name="att" type="xs:string" use="required" />
			<xs:attribute name="val" type="xs:string" use="required" />
		</xs:complexType>
	</xs:element>
</xs:schema>
